$primary-color: #0097a7;
$primary-light: #19a099;
$primary-bright: #19a099;
$secondary-color: #563d7c;
$secondary-light: #855cc4;
$secondary-bright: #7b1fa2;
$background: #282c34;
$tile-color: lightyellow;
$text-color: #e7e6e8;
$border-color: #bbbaba;
$placeholder-color: #4b4e4f;
$grey: #ccc;
$dark-grey: #575557;
$black: #000;
$dribbble: #b72582;
$linkedin: #0e5782;
$instagram: #d4c690;
$alert-color: #d80447;


$font-stack: Fredericka the Great, cursive;
$font-body: Caveat Brush, cursive;