.App, html {
  background-color: $background;
  background: url("bg-dark.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  
}

// .background {  
//   background-image: linear-gradient(to bottom, rgba(13, 13, 13, 0.3), rgba(255, 255, 255, 0.25));
// }




