.App, html {
  background-color: $background;
  background: url("bg-dark.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  
}

.background {  
  background-image: linear-gradient(to bottom, rgba(13, 13, 13, 0.3), rgba(255, 255, 255, 0.25));
}


/* Styles for larger screens */
* {
  box-sizing: border-box;
}

@media screen and (min-width: 720px) {

  .flex {
      display: flex;
      max-width: 1200px;
      justify-content: space-around;
      margin: 0 auto;
  }

  header {
    min-height: 500px;
  }

  .nav {
    max-width: 1200px;
  }

  main {
    padding-top: 50px;

    p {
      line-height: 1.6em;
    }
  }

  footer {
    font-size: 1.3em;
    /* max-width: 1200px; */
    margin: 40px auto;
  }

}

.clearfix {
  clear: both;
}

