.input {
  font-family: $font-body;
  border: 0;
  background: none;
  outline: none;
  margin-top:5px;
  width: 130px;
  font-size: 18px;
}

.input:focus {
  border: dashed 1px $primary-color;
}

textarea {
  resize: none;
  height: 100px;
}



